apiVersion: v1
kind: Secret
metadata:
  name: {{ service_name }}-secret
  namespace: {{ namespace }}
type: Opaque
data:
{%- for key, value in data.items() %}
  {{ key }}: {{ value | b64encode }}
{%- endfor %}